<div class="col-md-6">
	<!-- <form {{action 'login' on='submit'}}>
	  	<div class="form-group">
		    <label for="email_login">Email address</label>
		    <input type="email" class="form-control" id="email_login" placeholder="Email">
	  	</div>
	  	<div class="form-group">
		    <label for="password_login">Password</label>
		    <input type="password" class="form-control" id="password_login" placeholder="Password">
	  	</div>
	  	<button type="submit" class="btn btn-primary">Login</button>
	</form> -->
	<form {{action 'login' on='submit'}}>
	  	<div class="form-group">
		    <label for="email_register">Email address</label>
		    {{input type="email" value=email class="form-control" id="email_register" placeholder="Email" autofocus="autofocus"}}
	  	</div>
	  	<div class="row">
		  	<div class="col-md-6">
				<div class="form-group">
					<label for="fullname_register">Full Name</label>
					{{input type="text" value=fullname class="form-control" id="fullname_register" placeholder="Full Name"}}
				</div>
		  	</div>
		  	<div class="col-md-6">
				<div class="form-group">
					<label for="phone_register">Phone Number</label>
					{{input type="text" value=phone class="form-control" id="phone_register" placeholder="eg. 021234567 or 08123456789"}}
				</div>
		  	</div>
	  	</div>
	  	<div class="form-group">
		    <label for="address_register">Shipping Address</label>
		    {{textarea id="address_register" value=address class="form-control"}}
	  	</div>
	  	<div class="row">
		  	<div class="col-md-6">
		  		<div class="form-group">
				    <label for="city_register">City</label>
					{{input type="text" value=city class="form-control" id="city_register" placeholder="eg. Jakarta Selatan"}}
				    {{!-- {{partial.city-select}} --}}
				</div>
		  	</div>
		  	<div class="col-md-6">
		  		<div class="form-group">
				    <label for="province_register">Province</label>
					{{input type="text" value=province class="form-control" id="province_register" placeholder="eg. DKI Jakarta"}}
				</div>
		  	</div>
	  	</div>
	  	<div class="row">
		  	<div class="col-md-6">
		  		<div class="form-group">
				    <label for="country_register">Country</label>
					{{input type="text" value=country class="form-control" id="country_register" placeholder="eg. Indonesia"}}
				</div>
		  	</div>
		  	<div class="col-md-6">
				<div class="form-group">
				    <label for="postal_register">Postal Code</label>
					{{input type="text" value=postal class="form-control" id="postal_register" placeholder="eg. 12345"}}
				</div>
		  	</div>
	  	</div>
	  	<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
<div class="col-md-6 col-sm-12 col-xs-12" id="cart-big">
	{{cart-list}}
	<div class="bold product-header">
		<span>Total</span>
		<span class="pull-right totalNumber">
			{{#if total}}
				{{money-format total true}}
			{{else}}
				{{fa-icon 'spinner' spin=true}}
			{{/if}}
		</span>
	</div>
</div>
{{outlet}}
